<!DOCTYPE html>
<html>
<head>
  <title>My Super Impressive Blog</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<h1>My Super Impressive Blog</h1>
<hr>
<%= yield %>

</body>
</html>
